# <파이썬 자료형 연습 -2- >

## 9. Pandas DataFrame

### 딕셔너리를 활용한 데이터 분석을 위한 자료구조 생성

In [15]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

# 딕셔너리를 활용한 데이터프레임 생성
data = {'name': ['A고객','B고객','C고객','D고객'],
        'age': [27,40,33,29],
        'stock_age': [2,10,5,1]}
dataFrame = pd.DataFrame(data)

# 데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)

   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1

### 리스트를 활용한 데이터 분석을 위한 자료구조 생성

In [33]:
import pandas as pd
# 리스트 생성
test = [10,100,1000,10000,100000,1000000]
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

testDf.columns=["test_lhm"]
testDf

   test_lhm
0        10
1       100
2      1000
3     10000
4    100000
5   1000000

In [38]:
import pandas as pd
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23','16.02.22']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23','','17.02.21']

date_df = pd.DataFrame(date, columns=['date2'])
date_df2 = pd.DataFrame(date2, columns=['date23'])

final = pd.concat([date_df,date_df2], axis = 1)
final

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23
5  16.02.22
6       NaN  17.02.21

### 자신만의 데이터프레임을 생성해보세요

In [32]:
import pandas as pd
name = ['Samaung','Apple','LG']
product = ['Galaxy 9','iPhone X','ThinQ']

name_df = pd.DataFrame(name, columns=['name'])
product_df = pd.DataFrame(product, columns=['product'])

result = pd.concat([name_df,product_df], axis=1)
result

      name   product
0  Samaung  Galaxy 9
1    Apple  iPhone X
2       LG     ThinQ