## 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 
## ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [11]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import cx_Oracle
from sqlalchemy import create_engine 
 
# DB 커넥션 열기(msSQL)
inputengine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
Data = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', inputengine) 

# 데이터 VIEW
print(Data.head())

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [13]:
# DB 커넥션 열기(msSQL)
outputengine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_PY_이한민_FINAL1'
Data.to_sql(resultname, outputengine, if_exists='replace', index=False)

## 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 
## 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [60]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import cx_Oracle
from sqlalchemy import create_engine 
 
# DB 커넥션 열기(msSQL)
inputengine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
Data = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', inputengine) 

# 데이터 VIEW
# print(Data.head())

# 데이터프레임 생성
DataDf = pd.DataFrame(Data)

DataDf.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [90]:
test2 = DataDf[Data.YEARWEEK.str[0:4]=='2016']

In [91]:
# DB 커넥션 열기(msSQL)
outputengine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_PY_이한민_FINAL2'
test2.to_sql(resultname, outputengine, if_exists='replace', index=False)

## 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 
## 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와
## 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 
## [심심하면 Date도 같이..저장하세요]

In [115]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("https://www.timeanddate.com/holidays/south-korea/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select("div.tb-scroll > table > tbody > tr#tr0 > td")
# price = bs.select("table.zebra fw tb-cl tb-hover > tbody")
#price = bs.find("table",{"class":"zebra fw tb-cl tb-hover"})
#price2 = price.findChild
print(price)

[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>, <td>National holiday</td>]

In [116]:
for li in price:
    print(li.string)

Monday
New Year's Day
National holiday

In [137]:
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    print(b)

[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td>, <td>Observance</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td>, <td>National holiday</td>]
[<td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td>, <td>Observance</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td>, <td>Observance</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/calendar/march-equinox.html">March equinox</a></td>, <td>Season</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/labor-day">Labor Day</a></td>, <td>Bank Holiday</td>]
[<td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td>, <td>National holiday</td>]
[<td class="nw">Thursday</td>, <td><a href="/calendar/june-solstice.html">June Solstice</a></td>, <td>Season</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Sunday</td>, <td><a href="/calendar/september-equinox.html">September equinox</a></td>, <td>Season</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/halloween">Halloween</a></td>, <td>Observance</td>]
[<td class="nw">Friday</td>, <td><a href="/calendar/december-solstice.html">December Solstice</a></td>, <td>Season</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>, <td>Observance</td>]

In [166]:
weekday=[]
a = "div.tb-scroll > table > tbody > tr#tr0 > td.nw"
b = bs.select(a)
#print(b)
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td.nw"
    b = bs.select(a)
    for content in b:
        weekday.append(content.text)
    
weedaylistDf=pd.DataFrame(data=weekday)
weedaylistDf

            0
0      Monday
1      Friday
2   Wednesday
3    Thursday
4      Friday
5    Saturday
6      Sunday
7    Thursday
8      Friday
9      Sunday
10    Tuesday
11   Thursday
12    Tuesday
13   Saturday
14     Monday
15    Tuesday
16    Tuesday
17    Tuesday
18  Wednesday
19  Wednesday
20   Thursday
21    Tuesday
22  Wednesday
23     Sunday
24     Sunday
25     Monday
26    Tuesday
27  Wednesday
28     Monday
29  Wednesday
30    Tuesday
31  Wednesday
32     Friday
33     Monday
34    Tuesday
35     Monday

In [171]:
a = "div.tb-scroll > table > tbody > tr#tr0 > td"
b = bs.select(a)
b.findAll("a")

AttributeError: 'list' object has no attribute 'findAll'

In [172]:
dfcontent=[]
holyname=[]
a = "div.tb-scroll > table > tbody > tr#tr0 > td"
b = bs.select(a)
#print(b)
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    for content in b:
        tds=content.findAll("a")
        for td in tds:
            dfcontent.append(td.text)
        alldfcontents.append(dfcontent)
        dfcontent=[]
holiynamelistDf=pd.DataFrame(data=holyname)
holiynamelistDf

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfcontent=[]
alldfcontents=[]
for content in gitlist:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
gitlistDf=pd.DataFrame(data=alldfcontents)
gitlistDf

In [130]:
dfcontent=[]
alldfcontesnts=[]
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    for content in b:
        tds = content.string

div.tb-scroll > table > tbody > tr#tr0 > td
div.tb-scroll > table > tbody > tr#tr1 > td
div.tb-scroll > table > tbody > tr#tr2 > td
div.tb-scroll > table > tbody > tr#tr3 > td
div.tb-scroll > table > tbody > tr#tr4 > td
div.tb-scroll > table > tbody > tr#tr5 > td
div.tb-scroll > table > tbody > tr#tr6 > td
div.tb-scroll > table > tbody > tr#tr7 > td
div.tb-scroll > table > tbody > tr#tr8 > td
div.tb-scroll > table > tbody > tr#tr9 > td
div.tb-scroll > table > tbody > tr#tr10 > td
div.tb-scroll > table > tbody > tr#tr11 > td
div.tb-scroll > table > tbody > tr#tr12 > td
div.tb-scroll > table > tbody > tr#tr13 > td
div.tb-scroll > table > tbody > tr#tr14 > td
div.tb-scroll > table > tbody > tr#tr15 > td
div.tb-scroll > table > tbody > tr#tr16 > td
div.tb-scroll > table > tbody > tr#tr17 > td
div.tb-scroll > table > tbody > tr#tr18 > td
div.tb-scroll > table > tbody > tr#tr19 > td
div.tb-scroll > table > tbody > tr#tr20 > td
div.tb-scroll > table > tbody > tr#tr21 > td
div.tb-scroll > table > tbody > tr#tr22 > td
div.tb-scroll > table > tbody > tr#tr23 > td
div.tb-scroll > table > tbody > tr#tr24 > td
div.tb-scroll > table > tbody > tr#tr25 > td
div.tb-scroll > table > tbody > tr#tr26 > td
div.tb-scroll > table > tbody > tr#tr27 > td
div.tb-scroll > table > tbody > tr#tr28 > td
div.tb-scroll > table > tbody > tr#tr29 > td
div.tb-scroll > table > tbody > tr#tr30 > td
div.tb-scroll > table > tbody > tr#tr31 > td
div.tb-scroll > table > tbody > tr#tr32 > td
div.tb-scroll > table > tbody > tr#tr33 > td
div.tb-scroll > table > tbody > tr#tr34 > td
div.tb-scroll > table > tbody > tr#tr35 > td

In [ ]:
# html 부분구조 가져오기
gitlist=bs.select('table > tr#gitContents')
dfcontent=[]
alldfcontents=[]
for content in gitlist:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
gitlistDf=pd.DataFrame(data=alldfcontents)
gitlistDf

In [131]:
bs.select(a)

[<td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>,
 <td>Observance</td>]

In [102]:
columns=bs.select('div > table > thead > tr > th')
columnlist=[]
columnlist

[]

In [ ]:

# 리스트 초기화 및 데이터 담기
outList = []
outList.append(price)

# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']
# CSV 파일로 저장, encondig 한글깨짐 방지
#outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)
outDf