## 파이썬 퀴즈 - 제어문 - 06.08.

### 1. list(range()) 함수를 적용하여 1에서 20까지 2단계씩 증가하는 리스트를 생성하세요

In [3]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 2. nations = ["A01","미국","A02","한국","A03","프랑스"] 에서 
### while 문을 활용하여 리스트에서 국가명만 프린트하세요

#### 답안 1

In [4]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
i=0    
while i < len(nations):
    print(nations[i+1])
    i = i + 2

미국
한국
프랑스

#### 답안 2 (if문 사용)

In [5]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
i=0
while i < len(nations):
    if(i%2!=0):
        print(nations[i])
    i=i+1

미국
한국
프랑스

### 3. nations = ["A01","미국","A02","한국","A03","프랑스"] 에서 
### for 문을 활용하여 리스트에서 국가코드만 프린트하세요

#### 답안 1

In [6]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
for i in range(0,len(nations),2):
    print(nations[i+1])

미국
한국
프랑스

#### 답안 2-1 (if문 사용)

In [19]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
for i in range(len(nations)):
    if i%2!=0:
        print(nations[i])

미국
한국
프랑스

#### 답안 2-2 (if문 사용)

In [18]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
for i in nations:
    if(nations.index(i))%2!=0:
        print(i)

미국
한국
프랑스

## ※ kopo서버2에서 customerdata를 csv로 다운받아../dataset에 저장하세요

## 1. 데이터 불러오기 from csv

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

## 2. 데이터 불러오기 from 데이터베이스(Oracle)

In [5]:
import pandas as pd
import cx_Oracle
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [6]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine)

In [7]:
# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [8]:
# 데이터 VIEW
print(customerData.head())

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [11]:
# 데이터 저장
resultname='oracleresult_lhm'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

## 3. 데이터 불러오기 from 데이터베이스(mysql)

In [15]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')

In [19]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine)

In [20]:
# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [26]:
# 데이터 VIEW
print(customerData.head())

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [25]:
# 데이터 저장
resultname='mysqlresult_lhm'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

### 숙제 = postgrep로 하기 
#### 192.168.110.111:5432
#### kopo / kopo

In [18]:
# PANDAS 패키지 불러오기
import pandas as pdVariable 
import psycopg2 
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

In [19]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pdVariable.read_sql_query('SELECT * FROM customerdata', engine)

In [20]:
# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [21]:
# 데이터 VIEW
print(customerData.head())

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [22]:
# 데이터 저장
resultname='postgreresult_lhm'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

#### postgre 서버에 customerdata 만들기

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd
import psycopg2 
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')  

# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 데이터 VIEW
    
# 데이터 저장
resultname='customerdata'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

## 4. 데이터 불러오기 from web

In [ ]:
#import
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.naver.com/')
resp.raise_for_status()
resp.encoding='euc-kr'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

In [ ]:
# TOP news area 의 h2 태그만 선택하여 변수에 저장 
titleTag = bs.select('div.news_area h2')
title = titleTag[0].getText()

In [ ]:
# 리스트 초기화 및 데이터 담기
outList = list()
outList.append(title)

In [ ]:
# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']

In [ ]:
# CSV 파일로 저장, encondig 한글깨짐 방지
outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)