## 파이썬 퀴즈 - 데이터 불러오기/저장하기 (web 크롤링) - 06.15.

In [120]:
import requests, bs4, pandas as pd, numpy as np
import cx_Oracle
from sqlalchemy import create_engine 

#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.daum.net/quote/marketvalue.daum?nil_stock=refresh/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')


# 빈 리스트 선언
NameList = []
PriceList = []

# 데이터 추출하기 후 리스트에 저장 (7개만)
for i in range(0,7):
    stockN =  bs.select('ul#myListTop1 > li > a')
    Name = stockN[i].text
    NameList.append(Name)
    stockP = bs.select('ul#myListTop1 > li > span.cost.num')
    Price = float(stockP[i].text.replace(",",""))
    PriceList.append(Price)

# 리스트에 들어왔는지 확인
print(NameList)
print(PriceList)

# 리스트 데이터 프레임화
ResultDF = pd.DataFrame({'STOCK_NAME':NameList}, dtype=str)  
PriceDF = pd.DataFrame({'STOCK_PRICE':PriceList}, dtype=float)
ResultDF = pd.concat([ResultDF,PriceDF], axis =1)
#ResultDF.columns=['STOCK_NAME','STOCK_PRICE']
ResultDF

['삼성전자', 'SK하이닉스', '셀트리온', '삼성전자우', 'POSCO', '현대차', ' 삼성바이오로직..']
[48150.0, 86900.0, 297000.0, 38250.0, 367500.0, 135500.0, 413500.0]

   STOCK_NAME  STOCK_PRICE
0        삼성전자      48150.0
1      SK하이닉스      86900.0
2        셀트리온     297000.0
3       삼성전자우      38250.0
4       POSCO     367500.0
5         현대차     135500.0
6   삼성바이오로직..     413500.0

In [121]:

# DB 커넥션 열기(oracle)
engineOutput = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_STOCK_ST_이한민'
ResultDF.to_sql(resultname, engineOutput, if_exists='replace', index=False)

### 교수님 답

In [119]:

#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.daum.net/quote/marketvalue.daum?nil_stock=refresh/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
stock_list

count = 0
stock_nameList = []
stock_priceList = []
stock_num=6

for stock_one in stock_list:
    if count > stock_num:
        break
    stock_name = stock_one.find('a').text
    stock_price = stock_one.find("span",{"class":"cost num"}).text
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1

list1 = pd.DataFrame(stock_nameList)
stock_priceList
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis =1)
final.columns=['STOCK_NAME','STOCK_PRICE']
final

   STOCK_NAME STOCK_PRICE
0        삼성전자      48,100
1      SK하이닉스      86,900
2        셀트리온     296,500
3       삼성전자우      38,350
4       POSCO     367,000
5         현대차     135,500
6   삼성바이오로직..     413,000

# Pandas 라이브러리를 활용한 데이터 수집

## 5. 데이터 불러오기 from 분산파일시스템 (hadoop)

In [26]:
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정
client_hdfs = InsecureClient("http://192.168.110.114:50070")

# Test PandasDataFrame 생성 및 넣기
liste_hello = ['hello1','hello2','hello_lhm']
liste_world = ['world1','world2','world_lhm']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})

In [27]:
# 데이터프레임 hdfs에 저장
with client_hdfs.write('/mydata/helloworld_lhm.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)

In [29]:

# 데이터 읽기
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)