## 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 
## ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import cx_Oracle
from sqlalchemy import create_engine 
 
# DB 커넥션 열기(msSQL)
inputengine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
Data = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', inputengine) 

# 데이터 VIEW
print(Data.head())

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [13]:
# DB 커넥션 열기(msSQL)
outputengine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_PY_이한민_FINAL1'
Data.to_sql(resultname, outputengine, if_exists='replace', index=False)

## 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 
## 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [60]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
import cx_Oracle
from sqlalchemy import create_engine 
 
# DB 커넥션 열기(msSQL)
inputengine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
Data = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', inputengine) 

# 데이터 VIEW
# print(Data.head())

# 데이터프레임 생성
DataDf = pd.DataFrame(Data)

DataDf.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [243]:
test2 = DataDf[Data.YEARWEEK.str[0:4]=='2016']

# 데이터 VIEW
print(test2.head())

   REGIONID PRODUCTGROUP YEARWEEK    VOLUME
82      A01       ST0001   201605  661049.0
83      A01       ST0002   201605  231214.0
84      A01       ST0001   201603  531372.0
85      A01       ST0002   201603  152763.0
86      A01       ST0001   201601  651243.0

In [91]:
# DB 커넥션 열기(msSQL)
outputengine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_PY_이한민_FINAL2'
test2.to_sql(resultname, outputengine, if_exists='replace', index=False)

## 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 
## 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와
## 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 
## [심심하면 Date도 같이..저장하세요]

In [3]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("https://www.timeanddate.com/holidays/south-korea/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select("div.tb-scroll > table > tbody > tr#tr0 > td")
# price = bs.select("table.zebra fw tb-cl tb-hover > tbody")
#price = bs.find("table",{"class":"zebra fw tb-cl tb-hover"})
#price2 = price.findChild
print(price)

[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>, <td>National holiday</td>]

In [4]:
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    print(b)

[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td>, <td>Observance</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td>, <td>National holiday</td>]
[<td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td>, <td>Observance</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td>, <td>National holiday</td>]
[<td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td>, <td>Observance</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/calendar/march-equinox.html">March equinox</a></td>, <td>Season</td>]
[<td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/labor-day">Labor Day</a></td>, <td>Bank Holiday</td>]
[<td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td>, <td>National holiday</td>]
[<td class="nw">Thursday</td>, <td><a href="/calendar/june-solstice.html">June Solstice</a></td>, <td>Season</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Sunday</td>, <td><a href="/calendar/september-equinox.html">September equinox</a></td>, <td>Season</td>]
[<td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td>, <td>Observance</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td>, <td>National holiday</td>]
[<td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/halloween">Halloween</a></td>, <td>Observance</td>]
[<td class="nw">Friday</td>, <td><a href="/calendar/december-solstice.html">December Solstice</a></td>, <td>Season</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td>, <td>Observance</td>]
[<td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td>, <td>National holiday</td>]
[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>, <td>Observance</td>]

In [236]:
# Date 추출
date=[]
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > th.nw"
    b = bs.select(a)
    for content in b:
        date.append(content.text)
    
datelistDf=pd.DataFrame(data=date)
datelistDf

         0
0    Jan 1
1    Feb 9
2   Feb 14
3   Feb 15
4   Feb 16
5   Feb 17
6   Feb 25
7    Mar 1
8    Mar 9
9   Mar 18
10  Mar 20
11   Apr 5
12   May 1
13   May 5
14   May 7
15   May 8
16  May 15
17  May 22
18   Jun 6
19  Jun 13
20  Jun 21
21  Jul 17
22  Aug 15
23  Sep 23
24  Sep 23
25  Sep 24
26  Sep 25
27  Sep 26
28   Oct 1
29   Oct 3
30   Oct 9
31  Oct 31
32  Dec 21
33  Dec 24
34  Dec 25
35  Dec 31

In [13]:
bs.select("")

a = "div.tb-scroll > table > tbody > tr#tr0 > td"
b = bs.select(a)
b[2]

In [5]:
# Weekday 추출
weekday=[]
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td.nw"
    b = bs.select(a)
    for content in b:
        weekday.append(content.text)
    
weedaylistDf=pd.DataFrame(data=weekday)
weedaylistDf

            0
0      Monday
1      Friday
2   Wednesday
3    Thursday
4      Friday
5    Saturday
6      Sunday
7    Thursday
8      Friday
9      Sunday
10    Tuesday
11   Thursday
12    Tuesday
13   Saturday
14     Monday
15    Tuesday
16    Tuesday
17    Tuesday
18  Wednesday
19  Wednesday
20   Thursday
21    Tuesday
22  Wednesday
23     Sunday
24     Sunday
25     Monday
26    Tuesday
27  Wednesday
28     Monday
29  Wednesday
30    Tuesday
31  Wednesday
32     Friday
33     Monday
34    Tuesday
35     Monday

In [210]:
# Holyday Name 추출
hdname=[]
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    c = b[1].text
    hdname.append(c)
    
hdnamelistDf=pd.DataFrame(data=hdname)
hdnamelistDf

                                0
0                  New Year's Day
1      2018 Winter Olympics start
2                 Valentine's Day
3                 Seollal Holiday
4                         Seollal
5                 Seollal Holiday
6        2018 Winter Olympics end
7       Independence Movement Day
8   2018 Winter Paralympics start
9     2018 Winter Paralympics end
10                  March equinox
11                      Arbor Day
12                      Labor Day
13                 Children's Day
14        Children's Day observed
15                   Parents' Day
16                  Teacher's Day
17              Buddha's Birthday
18                   Memorial Day
19             Local Election Day
20                  June Solstice
21               Constitution Day
22                 Liberation Day
23              September equinox
24                Chuseok Holiday
25                        Chuseok
26                Chuseok Holiday
27                Chuseok Holiday
28               Armed Forces Day
29        National Foundation Day
30       Hangeul Proclamation Day
31                      Halloween
32              December Solstice
33                  Christmas Eve
34                  Christmas Day
35                 New Year's Eve

In [211]:
# Holyday Type 추출
hdtype=[]
for i in range(0,36):
    a = "div.tb-scroll > table > tbody > tr#tr" +str(i)+" > td"
    b = bs.select(a)
    c = b[2].text
    hdtype.append(c)
    
hdtypelistDf=pd.DataFrame(data=hdtype)
hdtypelistDf

                   0
0   National holiday
1         Observance
2         Observance
3   National holiday
4   National holiday
5   National holiday
6         Observance
7   National holiday
8         Observance
9         Observance
10            Season
11        Observance
12      Bank Holiday
13  National holiday
14  National holiday
15        Observance
16        Observance
17  National holiday
18  National holiday
19  National holiday
20            Season
21        Observance
22  National holiday
23            Season
24  National holiday
25  National holiday
26  National holiday
27  National holiday
28        Observance
29  National holiday
30  National holiday
31        Observance
32            Season
33        Observance
34  National holiday
35        Observance

In [241]:
# 데이터 병합
# 컬럼명 생성
final = pd.concat([datelistDf, weedaylistDf,hdnamelistDf, hdtypelistDf], axis =1)
final.columns=['DATE', 'WEEK','HOLYDAY_NAME', 'HOLYDAY_TYPE']
final

      DATE       WEEK                   HOLYDAY_NAME      HOLYDAY_TYPE
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [242]:
# DB 커넥션 열기(msSQL)
outputengine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
resultname='KOPO_PY_이한민_FINAL3'
final.to_sql(resultname, outputengine, if_exists='replace', index=False)